<!-- Modal Trigger Button -->
<button id="modalOpen" style="display:none" (click)="modalIndique.show()"></button>
<button id="modalClose" style="display:none" (click)="modalIndique.hide()"></button>
<!-- END -->

<!-- Modal -->
<div class="modal fade" bsModal #modalIndique="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title float-left">{{_state.modalTitle}}</h4>
			</div>
			<div class="modal-body">
				<p *ngIf="!_state.modalLoading">{{_state.modalMessage}}</p>
				<img src="assets/img/loading.gif" *ngIf="_state.modalLoading" style="margin-left:50%;margin-top:50%;transform:translate(-50%,-50%)"
				/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-flat" (click)="modalIndique.hide()" *ngIf="_state.modalLoading">Aguarde</button>
				<button type="button" class="btn btn-default btn-flat" (click)="modalIndique.hide()" *ngIf="!_state.modalLoading">Fechar</button>
			</div>
		</div>
	</div>
</div>
<!-- END Modal -->

<div id="content_wrapper" class="detachedToolbarLeft-wrapper">
	<div class="content">
		<div class="header-wrapper header-xl overlay app_primary_bg" style="background-image:url('https://membrovip.estancianativa.com.br/dash/assets/img/backgrounds/dashboard.jpg'); background-position:0 45%!important; margin-top:-90px">
		</div>
		<div class="content-body container-fluid">
			<div class="container" style="margin-top:-100px">
				<div class="row">
					<div class="col-xs-12">
						<div class="col-lg-12" style="margin-bottom:20px;margin-top:-45px">
							<h1 style="color:white">Seu Ingresso Virtual</h1>
							<small style="font-size:14px;color:rgba(255,255,255,.7)">Veja aqui detalhes do seu ingresso!</small>
						</div>
						<div class="card">
							<header class="card-header">
								<small class="today"></small>
							</header>
							<div class="card-block p-25 p-t-10 invoice">
								<h1 [ngStyle]="{'text-align': _state.isMobile() ? 'center' : 'left' }">
									<img src="assets/img/logo/logo-estancia-vale-sm.png" alt='logo' class="logo-img" />
									<br *ngIf="_state.isMobile()" /> 
									<br *ngIf="_state.isMobile()" /> 
									Ingresso Membro VIP
									<span *ngIf="_state.isMobile()">
										<br/>
										<br/>
									</span>
									<span *ngIf="!_state.isMobile()">- </span>Nº {{id}}
								</h1>
								<br *ngIf="_state.isMobile()" />
								<div class="row">
									<div class="col">
										<h4 [ngStyle]="{'text-align': _state.isMobile() ? 'center' : 'left' }">
											<b>Este ingresso é de propriedade de:</b>
										</h4>
										<address class="address">
											<b>Nome:</b> {{nome}}
											<br>
											<b>CPF:</b> {{formatarCpf(cpf)}}
											<br>
											<strong>Ingresso válido para: </strong>
											<span class="label label-success" style="font-size:12px">{{tipo}}</span>
										</address>
									</div>
								</div>
								<br />
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<!--<th>Item</th>-->
												<th>Descrição</th>
												<!--<th>Quantidade</th>-->
												<!--<th>Preço Un.</th>-->
												<th>Total</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<!--<th scope="row">1</th>-->
												<td>
													{{show}} - {{data}}
												</td>
												<!--<td>2</td>-->
												<!--<td>R$ 30.00</td>-->
												<td>{{valor}} Pontos</td>
											</tr>
										</tbody>
									</table>
								</div>

								<div class="invoice-note">
									<p>Este ingresso é
										<strong>pessoal</strong> e
										<strong>intransferível</strong> válido somente para o show acima. Para acessar o Estância Nativa Vale, basta você dirigir-se
										ao guichê destinado aos membros VIPs na bilheteria e apresentar o seu ingresso, juntamente com um documento de
										identificação com foto.</p>

								</div>
								<div class="col-4">
									<button md-ripple class="btn btn-success" onclick="javascript:window.print();" *ngIf="!_state.isMobile()">Imprimir Ingresso</button>
								</div>

							</div>
						</div>
						<h4 *ngIf="!encontrado" style="text-align:center;padding:1.5rem;box-shadow:0 1px 1px rgba(0, 0, 0, 0.3)">Ingresso não Encontrado</h4>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer id="footer_wrapper" class="footer_wrapper"></footer>