body {
    overflow-y: auto !important;
}

.modal {
    overflow-y: auto !important;
}

.modal-open {
   overflow:auto !important;
   overflow-x:hidden !important;
}

@media (max-width: 500px) {
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
    .col-lg-12 {
        padding-right: 0;
        padding-left: 0;
    }
}
@media (max-width: 992px) {
    .form-group label {
        text-align: left;
    }
}
@media (min-width: 993px) {
    .form-group label {
        text-align: right;
    }
}