<!-- Modal Trigger Button -->
<button id="modalOpen" style="display:none" (click)="modalIndique.show()"></button>
<button id="modalClose" style="display:none" (click)="modalIndique.hide()"></button>
<!-- END -->

<!-- Modal -->
<div class="modal fade" bsModal #modalIndique="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title float-left">{{_state.modalTitle}}</h4>
            </div>
            <div class="modal-body">
                <p *ngIf="!_state.modalLoading">{{_state.modalMessage}}</p>
                <img src="assets/img/loading.gif" *ngIf="_state.modalLoading" style="margin-left:50%;transform:translateX(-50%)" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat" (click)="modalIndique.hide()" *ngIf="_state.modalLoading">Aguarde</button>
                <button type="button" class="btn btn-default btn-flat" (click)="modalIndique.hide()" *ngIf="!_state.modalLoading">Fechar</button>
            </div>
        </div>
    </div>
</div>
<!-- END Modal -->

<!-- Modal Trigger Button -->
<button id="modalInicialOpen" style="display:none" (click)="completarInfos.show()"></button>
<button id="modalInicialClose" style="display:none" (click)="completarInfos.hide()"></button>
<!-- END -->

<!-- Cadastro Inicial -->
<div class="modal fade" bsModal #completarInfos="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title float-left">Complete suas informações!</h4>
            </div>
            <div class="modal-body">
                <p><strong>Para continuar acessando o MembroVIP, é necessário completar suas informações</strong></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-accent" (click)="completarInfos.hide()">ENTENDI.</button>
            </div>
        </div>
    </div>
</div>
<!-- END -->

<!-- Modal Trigger Button -->
<button id="modalConfirmarOpen" style="display:none" (click)="modalConfirmar.show()"></button>
<button id="modalConfirmarClose" style="display:none" (click)="modalConfirmar.hide()"></button>
<!-- END -->

<!-- Modal -->
<div class="modal fade" bsModal #modalConfirmar="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title float-left">Alterar os Dados</h4>
			</div>
			<div class="modal-body">
				<p>Tem certeza que os dados estão corretos?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-flat" (click)="modalConfirmar.hide(); enviarDados()">SIM</button>
				<button type="button" class="btn btn-default btn-flat" (click)="modalConfirmar.hide()">NÃO</button>
			</div>
		</div>
	</div>
</div>
<!-- END Modal -->

<div id="content_wrapper" class="detachedToolbarLeft-wrapper">
    <div class="content">
        <div class="header-wrapper header-xl overlay app_primary_bg" style="background-image:url('https://membrovip.estancianativa.com.br/dash/assets/img/backgrounds/dashboard.jpg'); background-position:0 45%!important; margin-top:-90px">
        </div>
        <div class="content-body container-fluid">
            <div class="container" style="margin-top:-100px">
                <div class="row">
                    <div class="col-lg-12" style="margin-bottom:20px;margin-top:-45px">
                        <h1 style="color:white">Alterar Dados Pessoais</h1>
                        <small style="font-size:14px;color:rgba(255,255,255,.7)">Modifique seus dados pessoais</small>
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <header class="card-header" *ngIf="_state.isUserFinished">
                                <h2 class="card-title">Mantenha seus dados atualizados</h2>
                                <small style="font-size:12px">Utilize este formulário para alterar seus dados e os manter sempre atualizados</small>
                            </header>
                            <header class="card-header" *ngIf="!_state.isUserFinished">
                                <h2 class="card-title">Bem vindo ao Membro VIP Estancia Nativa Vale!</h2>
                                <small style="font-size:12px">Para utilizar o membro vip é necessário completar seu cadastro</small>
                            </header>
                            <div class="card-block">
                                <div class="form-horizontal" name="horizontal">

                                    <div class="form-group row" style="min-height: 75px;">
                                        <label class="col-lg-3 col-form-label" for="name">Nome:</label>
                                        <div class="col-8">
                                            <md-input-container floatPlaceholder="never" class="float-never">
                                                <input mdInput class="form-control" type="text" name="name" id="name" [(ngModel)]="nome" disabled>
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div class="form-group row" style="min-height: 75px;">
                                        <label class="col-lg-3 col-form-label" for="cpf">CPF:</label>
                                        <div class="col-8">
                                            <md-input-container floatPlaceholder="never" class="float-never">
                                                <input mdInput class="form-control" type="text" name="cpf" id="cpf" [(ngModel)]="cpf" [disabled]="cpfDesabilitado" placeholder="Digite seu CPF" [textMask]="{mask: cpfMask}">
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div class="form-group row" style="min-height: 75px;">
                                        <label class="col-lg-3 col-form-label" for="cpf">Nome de Usuário:</label>
                                        <div class="col-8">
                                            <md-input-container floatPlaceholder="never" class="float-never">
                                                <input mdInput class="form-control" type="text" name="username" id="username" placeholder="Digite seu Nome de Usuário" [disabled]="userDesabilitado" [(ngModel)]="username">
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div class="form-group row" style="min-height: 75px;">
                                        <label class="col-lg-3 col-form-label">Sexo:</label>
                                        <div class="col-8 p-t-15">
                                            <md-radio-group class="m-t-5" style="margin-bottom: 15px">
                                                <md-radio-button class="m-r-10" name="sexo" [checked]="sexo" (click)="selecionarSexo(true)">Masculino</md-radio-button>
                                                <md-radio-button class="m-r-10" name="sexo" [checked]="!sexo" (click)="selecionarSexo(false)">Feminino</md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>

                                    <div class="form-group row" style="min-height: 75px;">
                                        <label class="col-lg-3 col-form-label" for="dataNasc">Data Nascimento:</label>
                                        <div class="col-8">
                                            <md-input-container floatPlaceholder="never" class="float-never">
                                                <input mdInput class="form-control" type="text" placeholder="Digite sua data de nascimento" name="dataNasc" id="dataNasc"
                                                    [textMask]="{mask: dataNascMask}" [(ngModel)]="dataNasc">
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div class="form-group row" style="min-height: 75px;">
                                        <label class="col-lg-3 col-form-label" for="cep">CEP:</label>
                                        <div class="col-8">
                                            <md-input-container floatPlaceholder="never" class="float-never">
                                                <input mdInput class="form-control" type="text" name="cep" id="cep" placeholder="Digite seu CEP" [textMask]="{mask: cepMask}"
                                                    [(ngModel)]="cep">
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div class="form-group row" style="min-height: 75px;">
                                        <label class="col-lg-3 col-form-label" for="name">Celular:</label>
                                        <div class="col-8">
                                            <md-input-container floatPlaceholder="never" class="float-never">
                                                <input mdInput class="form-control" type="text" name="telefone" id="telefone" placeholder="Digite seu Celular" [textMask]="{mask: telefoneMask}" [(ngModel)]="telefone">
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div class="form-group row" style="min-height: 75px;" *ngIf="!redeemDesabilitado">
                                        <label class="col-lg-3 col-form-label" for="name">Senha de Consumo:</label>
                                        <div class="col-8">
                                            <md-input-container floatPlaceholder="never" class="float-never">
                                                <input mdInput placeholder="Esta senha deve conter 4 números" class="form-control" type="password" name="redeem_pass" id="redeem_pass" [textMask]="{mask: redeem_passMask, guide: guide}" [(ngModel)]="redeem_pass">
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <button md-ripple class="btn btn-info" (click)="enviarDados()" style="cursor: pointer">ALTERAR DADOS</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer_wrapper" class="footer_wrapper"></footer>