<!-- Modal Trigger Button -->
<button id="modalOpen" style="display:none" (click)="modalIndique.show()"></button>
<button id="modalClose" style="display:none" (click)="modalIndique.hide()"></button>
<!-- END -->

<!-- Modal -->
<div class="modal fade" bsModal #modalIndique="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title float-left">{{_state.modalTitle}}</h4>
            </div>
            <div class="modal-body">
                <p *ngIf="!_state.modalLoading">{{_state.modalMessage}}</p>
                <img src="assets/img/loading.gif" *ngIf="_state.modalLoading" style="margin-left:50%;margin-top:50%;transform:translate(-50%,-50%)"
                />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat" (click)="modalIndique.hide()" *ngIf="_state.modalLoading">Aguarde</button>
                <button type="button" class="btn btn-default btn-flat" (click)="modalIndique.hide()" *ngIf="!_state.modalLoading">Fechar</button>
            </div>
        </div>
    </div>
</div>
<!-- END Modal -->

<div id="content_wrapper" class="detachedToolbarLeft-wrapper">
	<div class="content">
		<div class="header-wrapper header-xl overlay app_primary_bg" style="background-image:url('https://membrovip.estancianativa.com.br/dash/assets/img/backgrounds/dashboard.jpg'); background-position:0 45%!important; margin-top:-90px">
		</div>
		<div class="content-body container-fluid">
			<div class="container" style="margin-top:-100px">
				<div class="row">
					<div class="col-lg-12" style="margin-bottom:20px;margin-top:-45px">
						<h1 style="color:white">Indique e Ganhe</h1>
						<small style="font-size:14px;color:rgba(255,255,255,.7)">Veja como ganhar ainda mais pontos</small>
					</div>
					<div class="col-lg-12">
						<div class="card">
							<header class="card-header">
								<h2 class="card-title">Acumule mais pontos</h2>
								<small style="font-size:12px">Você pode ganhar ainda mais pontos indicando o Membro VIP a seus amigos e conhecidos!</small>
							</header>
							<br>
							<div class="container-fluid">
								<header style="background-color: #6B79C4; padding:12px; box-sizing: 1">
									<h2 style="color:white; text-align: center">Indique e Ganhe</h2>

								</header>
								<div class="card-body">
									<p style="font-family: sans-serif; font-size: .875em; line-height: 1.9em; outline: 0; color: #607188; text-align: center">O link abaixo é o seu Link de Indicação para convidar seus amigos a participar do Membro VIP e ganhar ainda mais
										pontos.
									</p>
									<p style="text-align: center">Seu link: <br/><span id="indiqueGanheSpam" (click)="_state.copy()" style="cursor:pointer;color:#688696;font-size:18px">{{_state.indiqueGanheUrl}}</span></p>
									<div class="container card-footer border-top">
										<div class="col-xs-12 btn-demo text-center">
											<h2 style="color: #516073">Compartilhe o link em suas redes sociais</h2>
											<button class="btn btn-facebook" style="cursor: pointer" (click)="_state.abrirFacebook()"><i class="zmdi zmdi-facebook"></i></button>
											<button class="btn btn-twitter" style="cursor: pointer" (click)="_state.abrirTwitter()"><i class="zmdi zmdi-twitter"></i></button>
											
											<button *ngIf="_state.isMobile()" class="btn btn-instagram" style="cursor: pointer;background-color:#25d366" (click)="_state.abrirWhats()"><i class="zmdi zmdi-whatsapp" style="font-weight:500;font-size:1.56rem"></i></button>
										</div>
									</div>


								</div>

							</div>
						</div>
						<h2 style="font-size: 1.25em; color: #516073; font-family: Poppins, sans-serif">Saiba mais sobre o Indique e Ganhe</h2>
						<div class="card">
							<header class="card-header">
								<md-accordion [displayMode]="displayMode" [multi]="multi" class="md-expansion-demo-width">

									<div class="card">

										<md-expansion-panel [hideToggle]="hideToggle" *ngFor="let pergunta of duvidasIndiqueGanhe">
											<md-expansion-panel-header><mat-panel-title>{{pergunta.pergunta}}</mat-panel-title></md-expansion-panel-header>
											<p>{{pergunta.resposta}}</p>
										</md-expansion-panel>
									</div>
								</md-accordion>
							</header>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer id="footer_wrapper" class="footer_wrapper"></footer>