<nav id="app_main-menu-wrapper">
	<ul class="navbar-nav nav-logo">
		<li class="nav-item logo-wrapper">
			<a href="javascript:void(0)" [routerLink]="['/Home/Dashboard']">
				<div class="logo">
					<img src="assets/img/logo/logo-estancia-vale.png" alt="Logo">
				</div>
				<h1 class="brand-text">Membro VIP</h1>
			</a>
		</li>
		<li class="nav-item">
			<a md-ripple href="javascript:void(0)" id="sidebarButton" role="button" (click)="toggleMenuSideabar()" class="nav-link menu-trigger">
				<i class="mdi mdi-backburger"></i>
			</a>
		</li>
	</ul>
	<div class="sidebar-inner sidebar-push" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
		<ul class="nav nav-pills flex-column">
			<li class="sidebar-header">NAVEGAÇÃO</li>
			<li routerLinkActive="active">
				<a md-ripple href="javascript:void(0)" [routerLink]="['/Home/Dashboard']" class="" (click)="clickMenu()">
					<i class="zmdi zmdi-view-dashboard"></i>Dashboard</a>
			</li>
			<li routerLinkActive="active">
				<a md-ripple href="javascript:void(0)" [routerLink]="['/Home/Programacao']" (click)="clickMenu()">
					<i class="zmdi zmdi-shopping-cart"></i>Programação</a>
			</li>
			<li routerLinkActive="active open" appNavDropdown class="nav-dropdown">
				<a md-ripple href="javascript:void(0)" class="" appNavDropdownToggle>
					<i class="zmdi zmdi-chart"></i>Meus Pontos</a>
				<ul class="nav-sub">
					<li routerLinkActive="active">
						<a href="javascript:void(0)" [routerLink]="['/Home/Extrato']" (click)="clickMenu()">Extrato</a>
					</li>
					<li routerLinkActive="active">
						<a href="javascript:void(0)" [routerLink]="['/Home/IndiqueGanhe']" (click)="clickMenu()">Indique e Ganhe</a>
					</li>
					<li routerLinkActive="active">
						<a href="javascript:void(0)" [routerLink]="['/Home/MeusIndicados']" (click)="clickMenu()">Meus Indicados</a>
					</li>
				</ul>
			</li>
			<li routerLinkActive="active open" appNavDropdown class="nav-dropdown">
				<a md-ripple href="javascript:void(0)" class="" appNavDropdownToggle>
					<i class="zmdi zmdi-widgets"></i>Minha Conta</a>
				<ul class="nav-sub">
					<li routerLinkActive="active">
						<a href="javascript:void(0)" [routerLink]="['/Home/MinhaConta/MeusDados']" (click)="clickMenu()">Dados Pessoais</a>
					</li>
					<li routerLinkActive="active">
						<a href="javascript:void(0)" [routerLink]="['/Home/MinhaConta/AlterarSenha']" (click)="clickMenu()">Alterar Senha</a>
					</li>
				</ul>
			</li>
			<li routerLinkActive="active open" appNavDropdown class="nav-dropdown">
				<a md-ripple href="javascript:void(0)" class="" appNavDropdownToggle>
					<i class="zmdi zmdi-help"></i>Ajuda e Suporte</a>
				<ul class="nav-sub">
					<li routerLinkActive="active">
						<a href="javascript:void(0)" [routerLink]="['/Home/FAQ']" (click)="clickMenu()">FAQ</a>
					</li>
				</ul>
			</li>
			<li routerLinkActive="active">
				<a md-ripple href="javascript:void(0)" (click)="_state.logout(true)" class="">
					<i class="zmdi zmdi-sign-in"></i>Logout</a>
			</li>
		</ul>
	</div>
</nav>