<!-- Modal Trigger Button -->
<button id="modalOpen" style="display:none" (click)="modalIndique.show()"></button>
<button id="modalClose" style="display:none" (click)="modalIndique.hide()"></button>
<!-- END -->

<!-- Modal -->
<div class="modal fade" bsModal #modalIndique="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title float-left">{{_state.modalTitle}}</h4>
			</div>
			<div class="modal-body">
				<p *ngIf="!_state.modalLoading">{{_state.modalMessage}}</p>
				<img src="assets/img/loading.gif" *ngIf="_state.modalLoading" style="margin-left:50%;margin-top:50%;transform:translate(-50%,-50%)"
				/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-flat" (click)="modalIndique.hide()" *ngIf="_state.modalLoading">Aguarde</button>
				<button type="button" class="btn btn-default btn-flat" (click)="modalIndique.hide()" *ngIf="!_state.modalLoading">Fechar</button>
			</div>
		</div>
	</div>
</div>
<!-- END Modal -->

<div id="content_wrapper" class="detachedToolbarLeft-wrapper">
	<div class="content">
		<div class="header-wrapper header-xl overlay app_primary_bg" style="background-image:url('https://membrovip.estancianativa.com.br/dash/assets/img/backgrounds/dashboard.jpg'); background-position:0 45%!important; margin-top:-90px">
		</div>
		<div class="content-body container-fluid">
			<div class="container" style="margin-top:-100px">
				<div class="row">
					<div class="col-lg-12" style="margin-bottom:20px;margin-top:-45px">
						<h1 style="color:white">Meus Indicados</h1>
						<small style="font-size:14px;color:rgba(255,255,255,.7)">Confira seus indicados</small>
					</div>
					<div class="col-lg-12">
						<div class="card">
							<header class="card-header">
								<h2 class="card-title">Conquistando mais pontos</h2>
								<small style="font-size:12px">Veja aqui seus indicados cadastrados que lhe ajudam a ganhar cada vez mais pontos!</small>
							</header>

							<div class="container-fluid">

								<div class="card-body">
									<div class="table-responsive" *ngIf="!semIndicados">
										<table class="table table-striped" style="border-color: grey">
											<thead style="vertical-align: middle; border-color: inherit">
												<tr>
													<th style="font-size: 12px; color: #607188; font-size: .8125em; font-family: Open Sans, sans-serif">Data cadastro</th>
													<th style="font-size: 12px; color: #607188; font-size: .8125em; font-family: Open Sans, sans-serif">Nome</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let registro of pags[pagAtual]">
													<td style="font-size: .8125em; color: d7e1ed">{{registro.date}}</td>
													<td style="font-size: .8125em; color: d7e1ed">{{registro.name}}</td>
												</tr>
											</tbody>
										</table>
										<ul class="pagination" style="margin-left: 45%" *ngIf="!(qtdPaginas <= 1)">
											<li>
												<a href="javascript:void(0);" (click)="prev()" class="waves-effect">
													<i class="material-icons">chevron_left</i>
												</a>
											</li>

											<li>
												<a href="javascript:void(0);" (click)="next()" class="waves-effect">
													<i class="material-icons">chevron_right</i>
												</a>
											</li>
										</ul>
									</div>
									<h4 *ngIf="semIndicados" style="text-align:center;padding:1.5rem;box-shadow:0 1px 1px rgba(0, 0, 0, 0.3)">Nenhum indicado cadastrado até o momento</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer id="footer_wrapper" class="footer_wrapper"></footer>