.container2 {
    margin-left: 50px;
    margin-right: 50px;
}

@media (max-width: 500px) {
    .container2 {
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
        padding-left: 0;
    }
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
    .col-lg-12 {
        padding-right: 0;
        padding-left: 0;
    }
}