<!-- Modal Trigger Button -->
<button id="modalOpen" style="display:none" (click)="modalIndique.show()"></button>
<button id="modalClose" style="display:none" (click)="modalIndique.hide()"></button>
<!-- END -->

<!-- Modal -->
<div class="modal fade" bsModal #modalIndique="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title float-left">{{_state.modalTitle}}</h4>
			</div>
			<div class="modal-body">
				<p *ngIf="!_state.modalLoading">{{_state.modalMessage}}</p>
				<img src="assets/img/loading.gif" *ngIf="_state.modalLoading" style="margin-left:50%;margin-top:50%;transform:translate(-50%,-50%)"
				/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-flat" (click)="modalIndique.hide()" *ngIf="_state.modalLoading">Aguarde</button>
				<button type="button" class="btn btn-default btn-flat" (click)="modalIndique.hide()" *ngIf="!_state.modalLoading">Fechar</button>
			</div>
		</div>
	</div>
</div>
<!-- END Modal -->

<div id="content_wrapper" class="detachedToolbarLeft-wrapper">
    <div class="content">
        <div class="header-wrapper header-xl overlay app_primary_bg" style="background-image:url('https://membrovip.estancianativa.com.br/dash/assets/img/backgrounds/dashboard.jpg'); background-position:0 45%!important; margin-top:-90px">
        </div>
        <div class="content-body">
            <div class="container2" style="margin-top:-100px">
                <div class="row">
                    <div class="col-lg-12" style="margin-bottom:20px;margin-top:-45px">
                        <h1 style="color:white">Meus Ingressos</h1>
                        <small style="font-size:14px;color:rgba(255,255,255,.7)">Visualize seus ingressos resgatados!</small>
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <header class="card-header" *ngIf="_state.isMobile()">
                                <h2 class="card-title">Meus Ingressos</h2>
                                <small style="font-size:12px">Visualize seus ingressos resgatados!</small>
                            </header>
                            <div class="card-block" style="padding-left: 20px; padding-right: 20px; padding-top: -40px">
                                <div class="row row-eq-height flex-card m-t-30">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" style="margin-top: 40px" *ngFor="let ingresso of _state.ingressos">
                                       <image-over-card [imgPath]="ingresso.image_path" [title]="ingresso.event_name" [subtitle]="_state.dateFormat(ingresso.event_date, false)"
									 [align]="'text-center'">
										<footer class="card-footer text-center">
											<h6 style="color: #516073" class="category text-center">
												<strong>Status: </strong>{{ingresso.status === 'active' ? "ATIVO" : "INATIVO"}}</h6>
											<button [routerLink]="['/Home/IngressoVirtual/', ingresso.ticket_id]" class="btn btn-info" style="font-size: 0.8rem; max-width: 230px; width: 100%; cursor: pointer;">INGRESSO VIRTUAL
											</button>
										</footer>
									</image-over-card>
                                    </div>
                                </div>
                                <h4 *ngIf="_state.ingressos == null || _state.ingressos.length == 0" style="text-align:center;padding:1.5rem;box-shadow:0 1px 1px rgba(0, 0, 0, 0.3)">Você ainda não possui ingressos resgatados</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer_wrapper" class="footer_wrapper"></footer>