<!-- Modal Trigger Button -->
<button id="modalOpen" style="display:none" (click)="modalIndique.show()"></button>
<button id="modalClose" style="display:none" (click)="modalIndique.hide()"></button>
<!-- END -->

<!-- Modal -->
<div class="modal fade" bsModal #modalIndique="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title float-left">{{_state.modalTitle}}</h4>
            </div>
            <div class="modal-body">
                <p *ngIf="!_state.modalLoading">{{_state.modalMessage}}</p>
                <img src="assets/img/loading.gif" *ngIf="_state.modalLoading" style="margin-left:50%;transform:translateX(-50%)" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat" (click)="modalIndique.hide()" *ngIf="_state.modalLoading">Aguarde</button>
                <button type="button" class="btn btn-default btn-flat" (click)="modalIndique.hide()" *ngIf="!_state.modalLoading">Fechar</button>
            </div>
        </div>
    </div>
</div>
<!-- END Modal -->

<div id="content_wrapper" class="detachedToolbarLeft-wrapper">
    <div class="content">
        <div class="header-wrapper header-xl overlay app_primary_bg" style="background-image:url('https://membrovip.estancianativa.com.br/dash/assets/img/backgrounds/dashboard.jpg'); background-position:0 45%!important; margin-top:-90px">
        </div>
        <div class="content-body">
            <div class="container2" style="margin-top:-150px" [ngStyle]="{'margin-top': _state.isMobile() ? '-150px' : '-100px'}">
                <div class="row">
                    <div class="col-lg-12" style="margin-bottom:20px;margin-top:-45px" >
                        <h1 style="color:white">Programação Estância Nativa Vale</h1>
                        <small style="font-size:14px;color:rgba(255,255,255,.7)">Garanta seu ingresso e venha curtir e se divertir na Estância Nativa Vale!</small>
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <header class="card-header" *ngIf="_state.isMobile()">
                                <h2 class="card-title">Programação Estância Nativa Vale</h2>
                                <small style="font-size:12px">Garanta seu ingresso e venha curtir e se divertir na Estância Nativa Vale!</small>
                            </header>
                            <div class="card-block" style="padding-left: 20px; padding-right: 20px; padding-top: -40px">
                                <div class="row row-eq-height flex-card m-t-30">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" style="margin-top: 40px" *ngFor="let show of _state.shows">
                                        <image-over-card [imgPath]="show.image_path" [title]="show.name" [subtitle]="_state.dateFormat(show.event_date,false)" [align]="'text-center'">
                                            <footer class="card-footer text-center">
                                                <button class="btn btn-info" (click)="openPage(show)" style="font-size: 0.9rem; max-width: 230px; width: 100%; cursor: pointer">COMPRAR INGRESSO
                                                </button>
                                                <button routerLinkActive="active" [routerLink]="['/Home/Show/', show.hash]" href="" class="btn btn-default" style="font-size: 0.9rem; max-width: 230px; width: 100%; cursor: pointer">COMPRAR COM PONTOS
                                                </button>
                                            </footer>
                                        </image-over-card>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer id="footer_wrapper" class="footer_wrapper"></footer>