<!-- Modal Trigger Button -->
<button id="modalOpen" style="display:none" (click)="modalIndique.show()"></button>
<button id="modalClose" style="display:none" (click)="modalIndique.hide()"></button>
<!-- END -->

<!-- Modal -->
<div class="modal fade" bsModal #modalIndique="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title float-left">{{_state.modalTitle}}</h4>
			</div>
			<div class="modal-body">
				<p *ngIf="!_state.modalLoading">{{_state.modalMessage}}</p>
				<img src="assets/img/loading.gif" *ngIf="_state.modalLoading" style="margin-left:50%;margin-top:50%;transform:translate(-50%,-50%)"
				/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-flat" (click)="modalIndique.hide()" *ngIf="_state.modalLoading">Aguarde</button>
				<button type="button" class="btn btn-default btn-flat" (click)="modalIndique.hide()" *ngIf="!_state.modalLoading">Fechar</button>
			</div>
		</div>
	</div>
</div>
<!-- END Modal -->

<div id="login_wrapper" style="position: relative">
	<div class="logo">
		<img src="assets/img/logo/logo-estancia-vale-lg.png" alt="logo" class="logo-img">
	</div>
	<section id="login_content">
		<h1 class="login-title">
			Entre na sua conta!
		</h1>
		<!--
		<div class="login-body">
			<form class="form-horizontal">
				<div class="form-group row">
					<label class="sr-only">Email: </label>
					<div class="col-md">
						<md-input-container floatPlaceholder="auto" class="float-auto">
							<input [(ngModel)]="email" name="email" mdInput placeholder="Email" class="form-control" type="email">
						</md-input-container>
					</div>
				</div>
				<div class="form-group row">
					<label class="sr-only">Senha: </label>
					<div class="col-md">
					
					</div>
				</div>
	
				
				<a href="javascript:void(0)" (click)="login()" class="btn btn-success btn-block">Avançar  <md-icon>trending_flat</md-icon></a>
			

				<div style="display:none">
					<div class="login-options">
						<span>OR</span>
						<hr />
					</div>
					<button class="btn btn-facebook btn-block"><i class="zmdi zmdi-facebook"></i> Sign In with Facebook</button>
					<button class="btn btn-google btn-block"><i class="zmdi zmdi-google-plus"></i> Sign In with Twitter</button>
				</div>
			 
			</form>
		</div>
	-->

		<div class="login-body" *ngIf="!emailChecked">
			<form class="form-horizontal">
				<div class="form-group row">
					<label class="sr-only">Email: </label>
					<div class="col-md">
						<md-input-container floatPlaceholder="auto" class="float-auto">
							<input [(ngModel)]="email" name="email" id="email" mdInput placeholder="Email" class="form-control" type="email" (keyup.enter)="checkEmail()">
						</md-input-container>
					</div>
				</div>
				<a href="javascript:void(0)" (click)="checkEmail()" class="btn btn-success btn-block">
					<div *ngIf="!loading">Acessar
						<md-icon>trending_flat</md-icon>
					</div>
					<div *ngIf="loading">
						<md-spinner style="width: 30px; height: 30px;margin-left:50%;transform:translateX(-50%)"></md-spinner>
					</div>
				</a>

			</form>
			<br />
			<hr />
			<div class="p-t-10 text-center">
				<h1 class="login-title" style="margin-bottom:8px;margin-top:0">Ainda não é um
					<strong>Membro VIP?</strong>
				</h1>
				<small style="margin: 5px">Tenha descontos exclusivos em shows, ganhe pontos e troque por experiências únicas.
				</small>
				<br />
				<br />
				<p><a href="javascript:void(0)" (click)="abrirCadastro()" target="_blank" id="linkCadastro"><strong>Clique aqui e se cadastre</strong></a>, é grátis e rápido!</p>
				<!--<a href="javascript:void(0)" (click)="abrirCadastro()" target="_blank" class="btn btn-success btn-block" style="border-radius:16px;height:30px;padding:5px;">Cadastre-se Aqui!
						<md-icon>account_box</md-icon>
					</a>-->
			</div>

		</div>

		<div class="login-body" *ngIf="emailChecked">
			<form class="form-horizontal">
				<div class="form-group row">
					<label class="sr-only">Email: </label>
					<div class="col-md">
						<md-input-container floatPlaceholder="auto" class="float-auto">
							<input [(ngModel)]="email" name="email" mdInput placeholder="Email" class="form-control" type="email" disabled>
						</md-input-container>
					</div>
				</div>
				<div class="form-group row">
					<label class="sr-only">Senha: </label>
					<div class="col-md">
						<md-input-container floatPlaceholder="auto" class="float-auto">
							<input [(ngModel)]="password" id="password" name="password" mdInput placeholder="Senha" class="form-control" type="password"
							 (keyup.enter)="login()">
						</md-input-container>
					</div>
				</div>
				<a href="https://membrovip.estancianativa.com.br/forgot-pass.php" class="forgot-pass float-right">Esqueci a Senha</a>
				<div class="checkbox inline-block">
					<md-checkbox [(ngModel)]="remember" name="remember"> Lembrar-me</md-checkbox>
				</div>

				<!--<a href="javascript:void(0)" (click)="login()" class="btn btn-info btn-block m-t-40">Entrar</a>-->
				<a href="javascript:void(0)" (click)="login()" class="btn btn-success btn-block">
					<div *ngIf="!loading">Entrar
						<md-icon>vpn_key</md-icon>
					</div>
					<div *ngIf="loading">
						<md-spinner style="width: 30px; height: 30px;margin-left:50%;transform:translateX(-50%)"></md-spinner>
					</div>
				</a>
			</form>
		</div>
	</section>
</div>
<!--
<div id="login_wrapper2" *ngIf="!emailChecked" style="margin-top:15px">
	<section id="login_content" style="padding:30px">
		<div class="login-body" *ngIf="!emailChecked">
			<div class="p-t-10 text-center">
				<h1 class="login-title" style="margin-bottom:8px;margin-top:0">Ainda não é um
					<strong>Membro VIP?</strong>
				</h1>
				<small style="margin: 5px">Tenha descontos exclusivos em shows, ganhe pontos e troque por experiências únicas.
					<br />
				</small>
				 <a href="javascript:void(0)" (click)="abrirCadastro()" target="_blank">Clique aqui e se cadastre</a>
				 <strong style="font-size:13px;display:inline-block">, é grátis e rápido.</strong>
				<!--<a href="javascript:void(0)" (click)="abrirCadastro()" target="_blank" class="btn btn-success btn-block" style="border-radius:16px;height:30px;padding:5px;">Cadastre-se Aqui!
					<md-icon>account_box</md-icon>
				</a>
			</div>
		</div>
	</section>
</div>
-->