<nav role="navigation" class="navbar">
	<ul class="navbar-nav nav-left">
		<li class="nav-item hidden-sm">
			<a md-ripple href="javascript:void(0)" (click)="toggleAppMobileLeftMenuSidebar()" class="nav-link mobile-menu-trigger">
				<i class="mdi mdi-backburger"></i>
			</a>
		</li>
		<li class="nav-item hidden-sm-down">
			<a md-ripple href="javascript:void(0)" [routerLink]="['/Home/Dashboards']" class="nav-link">
				<span>Home</span>
			</a>
		</li>
	</ul>
	<ul class="navbar-nav nav-right">
		<li class="nav-item dropdown avatar-menu" dropdown>
			<a md-ripple href="javascript:void(0)" class="nav-link" dropdownToggle>
				<span class="meta">
					<span class="avatar">
						<img src="assets/img/profiles/user-male.png" alt="" class="img-circle max-w-35" *ngIf="_state.male">
						<img src="assets/img/profiles/user-female.png" alt="" class="img-circle max-w-35" *ngIf="!_state.male">
						<i class="badge mini success status"></i>
					</span>
					<span class="name">{{_state.name}}</span>
					<span class="caret"></span>
				</span>
			</a>
			<ul class="dropdown-menu btn-accent dropdown-menu-right" *dropdownMenu>
				<li>
					<a href="javascript:void(0)" [routerLink]="['Home/Extrato']"><i class="zmdi zmdi-account"></i> Meus Pontos</a>
				</li>
				<li>
					<a href="javascript:void(0)" [routerLink]="['/Home/IndiqueGanhe']"><i class="zmdi zmdi-email"></i> Indique e Ganhe</a>
				</li>
				<li>
					<a href="javascript:void(0)" [routerLink]="['/Home/FAQ']"><i class="zmdi zmdi-settings"></i> Dúvidas comuns</a>
				</li>
				<li>
					<a href="javascript:void(0)" (click)="_state.logout(true)"><i class="zmdi zmdi-sign-in"></i> Sair</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>