<!-- Modal Trigger Button -->
<button id="modalOpen" style="display:none" (click)="modalIndique.show()"></button>
<button id="modalClose" style="display:none" (click)="modalIndique.hide()"></button>
<!-- END -->

<!-- Modal -->
<div class="modal fade" bsModal #modalIndique="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title float-left">{{_state.modalTitle}}</h4>
			</div>
			<div class="modal-body">
				<p *ngIf="!_state.modalLoading">{{_state.modalMessage}}</p>
				<img src="assets/img/loading.gif" *ngIf="_state.modalLoading" style="margin-left:50%;transform:translateX(-50%)"
				/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-flat" (click)="modalIndique.hide()" *ngIf="_state.modalLoading">Aguarde</button>
				<button type="button" class="btn btn-default btn-flat" (click)="modalIndique.hide()" *ngIf="!_state.modalLoading">Fechar</button>
			</div>
		</div>
	</div>
</div>
<!-- END Modal -->

<!-- Modal Trigger Button -->
<button id="modalConfirmarOpen" style="display:none" (click)="modalConfirmar.show()"></button>
<button id="modalConfirmarClose" style="display:none" (click)="modalConfirmar.hide()"></button>
<!-- END -->

<!-- Modal -->
<div class="modal fade" bsModal #modalConfirmar="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title float-left">Alterar Senha</h4>
			</div>
			<div class="modal-body">
				<p>Tem certeza que quer alterar sua senha de consumo?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-flat" (click)="modalConfirmar.hide(); trocarSenha()">SIM</button>
				<button type="button" class="btn btn-default btn-flat" (click)="modalConfirmar.hide()">NÃO</button>
			</div>
		</div>
	</div>
</div>
<!-- END Modal -->

<div id="content_wrapper" class="detachedToolbarLeft-wrapper">
	<div class="content">
		<div class="header-wrapper header-xl overlay app_primary_bg" style="background-image:url('https://membrovip.estancianativa.com.br/dash/assets/img/backgrounds/dashboard.jpg'); background-position:0 45%!important; margin-top:-90px">
		</div>
		<div class="content-body container-fluid">
			<div class="container" style="margin-top:-100px">
				<div class="row">
					<div class="col-lg-12" style="margin-bottom:20px;margin-top:-45px">
						<h1 style="color:white">Alterar sua senha de Consumo</h1>
						<small style="font-size:14px;color:rgba(255,255,255,.7)">Modifique sua senha de consumo</small>
					</div>
					<div class="col-lg-12">
						<div class="card">
							<header class="card-header" *ngIf="_state.isMobile()">
								<h2 class="card-title">Alterar sua senha de Consumo</h2>
								<small style="font-size:12px">Modifique sua senha de consumo</small>
							</header>
							<div class="card-body">
								<div class="col-lg-12">
									<div class="card-block">
										<form class="form-horizontal" name="horizontal">
											<div class="form-group row">
												<label class="col-3 col-form-label text-right" for="passwordNow">Senha de Acesso Atual:</label>
												<div class="col-lg-9">
													<md-input-container floatPlaceholder="never" class="float-never">
														<input mdInput class="form-control" type="password" name="passwordNow" id="passwordNow" [(ngModel)]="password" placeholder="Sua senha de acesso ao Membro VIP">
													</md-input-container>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-3 col-form-label text-right" for="password">Nova Senha de Consumo:</label>
												<div class="col-lg-9">
													<md-input-container floatPlaceholder="never" class="float-never">
														<input mdInput class="form-control" type="password" name="password" id="password" [textMask]="{mask: redeem_passMask, guide: guide}" placeholder="Senha de 4 dígitos" [(ngModel)]="redeem_pass">
													</md-input-container>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-3 col-form-label text-right" for="passwordConfirm">Confirmar Senha de Consumo:</label>
												<div class="col-lg-9">
													<md-input-container floatPlaceholder="never" class="float-never">
														<input mdInput class="form-control" type="password" name="passwordConfirm" id="passwordConfirm" [textMask]="{mask: redeem_passMask, guide: guide}" placeholder="Senha de 4 dígitos" [(ngModel)]="redeem_pass_confirm">
													</md-input-container>
												</div>
											</div>
										</form>
									</div>
									<div class="card-footer text-right">
										<button md-ripple class="btn btn-info" (click)="senhasOk() ? modalConfirmar.show() : trocarSenha()" style="cursor:pointer;">ALTERAR SENHA</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer id="footer_wrapper" class="footer_wrapper"></footer>