<!-- Modal Trigger Button -->
<button id="modalOpen" style="display:none" (click)="modalIndique.show()"></button>
<button id="modalClose" style="display:none" (click)="modalIndique.hide()"></button>
<!-- END -->

<!-- Modal -->
<div class="modal fade" bsModal #modalIndique="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title float-left">{{_state.modalTitle}}</h4>
			</div>
			<div class="modal-body">
				<p *ngIf="!_state.modalLoading">{{_state.modalMessage}}</p>
				<img src="assets/img/loading.gif" *ngIf="_state.modalLoading" style="margin-left:50%;margin-top:50%;transform:translate(-50%,-50%)"
				/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-flat" (click)="modalIndique.hide()" *ngIf="_state.modalLoading">Aguarde</button>
				<button type="button" class="btn btn-default btn-flat" (click)="modalIndique.hide()" *ngIf="!_state.modalLoading && modalType == 1">Fechar</button>
				<button type="button" class="btn btn-accent" (click)="_state.logout(true)" *ngIf="!_state.modalLoading && modalType == 2">Fazer Login</button>
			</div>
		</div>
	</div>
</div>
<!-- END Modal -->

<div id="login_wrapper" style="max-width: 500px">
	<div class="logo">
		<img src="assets/img/logo/logo-estancia-vale-lg.png" alt="logo" class="logo-img">
	</div>
	<section id="login_content" style="max-width: 500px">

		<h1 class="login-title">
			<b>Preencha o formulário corretamente!</b>
		</h1>

		<div class="login-body">
			<!--<form class="">-->

				<div class="form-horizontal">
		
					<md-input-container floatPlaceholder="auto" class="float-auto">
						<input mdInput placeholder="Nome Completo" [(ngModel)]="nome">
						<md-icon mdPrefix style="margin-right: 10px">face</md-icon>
					</md-input-container>

					<md-input-container floatPlaceholder="auto" class="float-auto">
						<input mdInput placeholder="Seu Email" class="form-control" type="text" name="email" [(ngModel)]="email" />
						<md-icon mdPrefix style="margin-right: 10px">mail_outline</md-icon>
					</md-input-container>
					
					<md-input-container>
						<input mdInput type="password" placeholder="Digite sua senha" [(ngModel)]="senha">
						<md-icon mdPrefix style="margin-right: 10px">lock_outline</md-icon>
					</md-input-container>

					<md-input-container>
						<input mdInput type="password" placeholder="Confirme a senha" [(ngModel)]="repetirSenha">
						<md-icon mdPrefix style="margin-right: 10px">done_all</md-icon>
					</md-input-container>

				</div>
				<a href="javascript:void(0)" class="btn btn-success btn-block" (click)="cadastrar()"> <!-- Colocar Ação -->
					<div *ngIf="!loading">Quero ser Membro VIP! <md-icon>touch_app</md-icon>
					</div>
					<div *ngIf="loading">
						<md-spinner style="width: 30px; height: 30px;margin-left:50%;transform:translateX(-50%)"></md-spinner>
					</div>
				</a>
				<a href="javascript:void(0)" class="btn btn-danger btn-block" (click)="voltar()">
						Voltar ao login  <md-icon>undo</md-icon>
					<!-- Colocar Ação --></a>
				
			<!--</form>-->
		</div>
	</section>
</div>