<!-- Modal Trigger Button -->
<button id="modalOpen" style="display:none" (click)="modalIndique.show()"></button>
<button id="modalClose" style="display:none" (click)="modalIndique.hide()"></button>
<!-- END -->

<!-- Modal -->
<div class="modal fade" bsModal #modalIndique="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title float-left">{{_state.modalTitle}}</h4>
			</div>
			<div class="modal-body">
				<p *ngIf="!_state.modalLoading">{{_state.modalMessage}}</p>
				<img src="assets/img/loading.gif" *ngIf="_state.modalLoading" style="margin-left:50%;margin-top:50%;transform:translate(-50%,-50%)"
				/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-flat" (click)="modalIndique.hide()" *ngIf="_state.modalLoading">Aguarde</button>
				<button type="button" class="btn btn-default btn-flat" (click)="modalIndique.hide()" *ngIf="!_state.modalLoading">Fechar</button>
			</div>
		</div>
	</div>
</div>
<!-- END Modal -->

<!-- Modal Trigger Button -->
<button id="modalConfirmarOpen" style="display:none" (click)="modalConfirmar.show()"></button>
<button id="modalConfirmarClose" style="display:none" (click)="modalConfirmar.hide()"></button>
<!-- END -->

<!-- Modal -->
<div class="modal fade" bsModal #modalConfirmar="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title float-left">Confirmação</h4>
			</div>
			<div class="modal-body">
				<p>Você irá gastar
					<strong>{{tipoIngressoSelecionado === 'floor' ? show.valor_lane : show.valor_front}} pontos</strong> para adquirir seu ingresso.</p>
				<p>
					<strong>Evento: {{show.nome}}</strong>
				</p>
				<p>Confirma sua compra?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" (click)="modalConfirmar.hide();modalSenha.show();">SIM</button>
				<button type="button" class="btn btn-default btn-flat" (click)="modalConfirmar.hide()">NÃO</button>
			</div>
		</div>
	</div>
</div>
<!-- END Modal -->

<!-- Modal Trigger Button -->
<button id="modalSenhaOpen" style="display:none" (click)="modalSenha.show()"></button>
<button id="modalSenhaClose" style="display:none" (click)="modalSenha.hide()"></button>
<!-- END -->

<!-- Modal -->
<div class="modal fade" bsModal #modalSenha="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title float-left">Senha de Consumo</h4>
			</div>
			<div class="modal-body">
				<p>Para continuar a compra, digite sua senha de consumo abaixo: </p>
				<div class="form-group row">
					<label class="col-lg-5 col-form-label" for="password">Senha de Consumo:</label>
					<div class="col-lg-7">
						<md-input-container floatPlaceholder="never" class="float-never">
							<input mdInput id="pwdConsumo" class="form-control" type="password" name="password" id="password" [(ngModel)]="senhaConsumo"
							 [textMask]="{mask: redeem_passMask, guide: guide}" placeholder="Senha de 4 Dígitos">
						</md-input-container>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" (click)="modalSenha.hide();comprar()">COMPRAR</button>
				<button type="button" class="btn btn-default btn-flat" (click)="modalSenha.hide()">CANCELAR</button>
			</div>
		</div>
	</div>
</div>
<!-- END Modal -->

<div id="content_wrapper" class="detachedToolbarLeft-wrapper">
	<div class="content">
		<div class="header-wrapper header-xl overlay app_primary_bg" style="background-image:url('https://membrovip.estancianativa.com.br/dash/assets/img/backgrounds/dashboard.jpg'); background-position:0 45%!important; margin-top:-90px">
		</div>
		<div class="content-body container-fluid">
			<div class="container" style="margin-top:-100px">
				<div class="row">
					<div class="col-lg-12" style="margin-bottom:20px;margin-top:-45px">
						<h1 style="color:white">Informações do Show</h1>
						<small style="font-size:14px;color:rgba(255,255,255,.7)">Veja os detalhes do show abaixo</small>
					</div>
					<div class="col-lg-12">
						<div class="card">
							<header class="card-header" *ngIf="_state.isMobile()">
								<h2 class="card-title">Informações do Show</h2>
								<small style="font-size:12px">Veja os detalhes do show abaixo</small>
							</header>
							<div class="card-body">
								<div class="row">

									<div class="col-md-4">
										<div class="card">
											<div class="card-block p-0 ">
												<img [src]="show.imagem">
											</div>
										</div>
									</div>

									<div class="col-md-8">
										<div class="card">
											<tabset [justified]="true">
												<tab heading="Informações">
													<div class="card-block p-t-30">
														<h3 class="p-t-15 p-b-15" style="text-align: center">
															<b>DETALHES DO EVENTO</b>
														</h3>
														<p>
															<strong>Evento: </strong> {{show.nome}}
														</p>
														<p>
															<strong>Data: </strong> {{show.data}}
														</p>
													</div>
												</tab>
												<tab heading="Compre Aqui">
													<div class="card-block p-t-30">
														<h3 class="p-t-15 p-b-15" style="text-align: center">COMPRE SEU INGRESSO COM PONTOS</h3>
														<p>
															Você Possui:
															<br *ngIf="_state.isMobile()" />
															<span class="label label-success" style="font-size: 12px;" [ngStyle]="{'background-color': compraDisponivel() ? 'green' : 'red'}">{{_state.pontos}} Pontos</span>
														</p>
														<p>
															O Ingresso Custa:
															<br *ngIf="_state.isMobile()" />
															<span class="label label-default" style="font-size: 12px">{{tipoIngressoSelecionado === 'floor' ? show.valor_lane : show.valor_front}} Pontos</span>
														</p>

														<section style="margin-top:25px; margin-bottom:15px">
															<label>
																<strong>Selecione o Ingresso:</strong>
															</label>
															<br *ngIf="_state.isMobile()">
															<md-radio-group [(ngModel)]="tipoIngressoSelecionado">
																<md-radio-button style="margin-left:10px" value="floor">
																	Pista
																</md-radio-button>
																<md-radio-button style="margin-left:20px" value="front">
																	Front-Stage
																</md-radio-button>

															</md-radio-group>
														</section>

														<button md-ripple [ngClass]="{'btn-error': !compraDisponivel(), 'btn-success': compraDisponivel()}" class="btn" (click)="modalConfirmar.show()"
														 [disabled]="!compraDisponivel()" style="cursor: pointer; margin-top:15px; margin-bottom:15px">{{compraDisponivel() ? 'COMPRAR INGRESSO' : 'PONTOS INSUFICIENTES'}}</button>
													</div>
												</tab>
												<tab heading="Localização">
													<div class="card-block p-t-30">
														<h3 class="p-t-15 p-b-15" style="text-align: center">LOCALIZAÇÃO</h3>
														<p>
															<strong>Endereço: </strong>Km 133 Via Dutra | Caçapava - SP
														</p>
														<p>
															<strong>Tel: </strong>(12) 3934-8707
														</p>
														<p>
															<strong>WhatsApp: </strong>(12) 97405-8337
														</p>
													</div>
												</tab>
											</tabset>
										</div>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer id="footer_wrapper" class="footer_wrapper"></footer>