/*------------------------------------------------------------------------------
  MaterialWrap - Angular 4 Seed Project
------------------------------------------------------------------------------*/
//== Vendor
@import '../node_modules/multi-brand-colors/dist/scss/index.scss';
@import '../node_modules/mdi/css/materialdesignicons.css';
@import '../node_modules/material-design-iconic-font/dist/css/material-design-iconic-font.css';
//== App
@import "./app/shared/styles/app";

body {
    overflow-y: auto !important;
}

.modal {
    overflow-y: auto !important;
}

.modal-open {
   overflow:auto !important;
}

@media print {
    @page {
        margin: -4cm;
        size: auto;
    }

    #app_topnavbar-wrapper, #app_sidebar-left, #app_main-menu-wrapper, .app_primary_bg, .noprint, footer {
        display: none !important;
    }

    img {
        margin-bottom: 30px;
        width: 2cm;
        height: 2cm;
        float:left;
    }
}