<!-- Modal Trigger Button -->
<button id="modalOpen" style="display:none" (click)="modalIndique.show()"></button>
<button id="modalClose" style="display:none" (click)="modalIndique.hide()"></button>
<!-- END -->

<!-- Modal -->
<div class="modal fade" bsModal #modalIndique="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title float-left">{{_state.modalTitle}}</h4>
            </div>
            <div class="modal-body">
                <p *ngIf="!_state.modalLoading">{{_state.modalMessage}}</p>
                <img src="assets/img/loading.gif" *ngIf="_state.modalLoading" style="margin-left:50%;margin-top:50%;transform:translate(-50%,-50%)"
                />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat" (click)="modalIndique.hide()" *ngIf="_state.modalLoading">Aguarde</button>
                <button type="button" class="btn btn-default btn-flat" (click)="modalIndique.hide()" *ngIf="!_state.modalLoading">Fechar</button>
            </div>
        </div>
    </div>
</div>
<!-- END Modal -->


<div id="content_wrapper" class="detachedToolbarLeft-wrapper">
    <div class="content">
        <div class="header-wrapper header-xl overlay app_primary_bg" style="background-image:url('https://membrovip.estancianativa.com.br/dash/assets/img/backgrounds/dashboard.jpg'); background-position:0 45%!important; margin-top:-90px">

        </div>

        <div class="content-body container-fluid">
            <div class="container-fluid" style="margin-top:-100px">
                <div class="row">
                    <div class="col-lg-12" style="margin-bottom:20px;margin-top:-45px">
                        <h1 style="color:white">FAQ</h1>
                        <small style="font-size:14px;color:rgba(255,255,255,.7)">Esclareça suas dúvidas</small>
                    </div>
                    <div class="col-lg-12">

                        <md-accordion [displayMode]="displayMode" [multi]="multi" class="md-expansion-demo-width">

                            <div class="card">
                                <header class="card-heading" style="padding:30px" *ngIf="_state.isMobile()">
                                    <h2 class="card-title">FAQ</h2>
                                    <small style="font-size:12px">Esclareça suas dúvidas</small>
                                </header>

                                <md-expansion-panel [hideToggle]="hideToggle" *ngFor="let pergunta of faqPerguntas">
                                    <md-expansion-panel-header><mat-panel-title>{{pergunta.pergunta}}</mat-panel-title></md-expansion-panel-header>
                                    <p>{{pergunta.resposta}}</p>
                                </md-expansion-panel>
                            </div>
                        </md-accordion>
                    </div>
                </div>


            </div>

        </div>

    </div>

</div>

<footer id="footer_wrapper" class="footer_wrapper"></footer>